[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = https://github.com/dsedivec/haml-mode
[submodule "vendor/sass-mode"]
	path = vendor/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "vendor/inf-ruby"]
	path = vendor/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
